*{
    margin: 0;
    padding: 0;
}
body{
    color: #333;
}
ul{
    list-style: none;
}
h3{
    font-size: 30px;
    font-weight: bold;
    margin: 85px 30px;
    text-transform: uppercase;
    font-style: italic;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFBB11;
}
.main-nav{
    background-color: #333;
    width: 100%;
    padding: 0 10%;
    height: auto;
}
.navbar a{
    color:#fff;
}
.center-img{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/Capture.JPG');
    background-size: cover;
    position: relative;
}
.center-img h2{
    color: #fff;
    font-weight: bold;
    font-size: 2.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

main{
    margin: 5px 30px;
}

.buy-items h2{
    font-weight: 700;
}

.products{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.products .male{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.watch-item{
    width: 300px;
    max-height: 500px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    margin: 10px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.watch-item:hover{
    scale: 1.1;
    transition: 0.9s;
}
.watch-item img{
    width: 300px;
    max-width: 100%;
    max-height: 100%;
}
.details{
    justify-content: center;
    font-size: 15px;
    padding: 5px 5px;
}
.money{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
}
.money .price{
    font-size: 30px;
    font-weight: bold;
}
.money .btn{
    background-color: #FFBB11;
    color: #fff;
}
/* === Categories === */
.car-btn{
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
}

.categories{
    display: flex;
    flex-direction: column;
}
.categories h4{
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.categories ul{
    position: relative;
    background-color: #fff;
}
.categories ul li{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    margin: 5px 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.categories ul li a{
    color: #333;
    text-decoration: none;
}
.categories ul li:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
}

section .map iframe{
    width: 100%;
    padding-bottom: 50px;
}

/* Foooter section */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}